<footer class="ha__footer">
  {{navigation type="secondary"}}
  <ul class="nav justify-content-center ha__footer-social">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-qq"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-weixin"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-weibo"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
  </ul>
  <div class="w-100 d-flex justify-content-center ha__footer-copyright">
    <span>❤️ Young Theme &copy; 2020</span>
    <span>&nbsp; • &nbsp;</span>
    <span>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
  </div>
</footer>
<div class="ha__search position-fixed animated">
  <button type="button" class="search-close" aria-label="close">
    <i class="fas fa-times"></i>
  </button>
  <div class="input-group mb-3 search-area">
    <span class="input-group-text" id="search"><i class="fas fa-search"></i></span>
    <input id="ghost-search-field" class="form-control" type="text" placeholder="请输入搜索关键词..." aria-label="search" aria-describedby="search">
  </div>
  <div class="search-tags">
    {{#get "tags" limit="all" filter="name:-['菜单1', '菜单2', '菜单3']"}}
      {{#foreach tags}}
        <a href="{{url}}" class="tag-item" data-toggle="tooltip" data-placement="bottom" title="查看关于 {{name}} 标签的文章">
          {{name}}
        </a>
      {{/foreach}}
    {{/get}}
  </div>
  <div class="search-meta" data-no-results-text="有 [results] 篇文章" style="">有 0 篇文章</div>
  <div id="ghost-search-results" class="search-results"></div>
</div>
