<footer class="ha__footer">
  {{navigation type="secondary"}}
  <ul class="nav justify-content-center ha__footer-social">
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-qq"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-weixin"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-weibo"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
  </ul>
  <div class="w-100 d-flex justify-content-center ha__footer-copyright">
    <span>❤️ SoldOut Theme. Copyright &copy; {{date format="YYYY"}}</span>
    <span>&nbsp; • &nbsp;</span>
    <span>Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a></span>
  </div>
  <div class="w-100 d-flex justify-content-center ha__footer-copyright">
    <a href="http://beian.miit.gov.cn" target="_blank" rel="nofollow noopener">苏ICP备15050739号-4</a>
    <span>&nbsp; • &nbsp;</span>
    <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32010402000196" target="_blank" rel="nofollow noopener">苏公网安备32010402000196号</a>
    <span>&nbsp; • &nbsp;</span>
    <a href="https://tongji.baidu.com/web/welcome/ico?s=075de8ed5c2bfb5f678b1a620749aee4" target="_blank" rel="nofollow noopener">百度统计</a>
  </div>
</footer>
{{> "site-search"}}
